body {
    font-size:13px;
    font-family:Arial,Helvetica,Liberation Sans,DejaVu Sans,sans-serif;
    margin: 3px 0;
}
.lz_chat_link{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;padding:2px 0px 0px 2px;}
.lz_chat_file{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;padding:2px 0px 0px 2px;}
.lz_chat_mail{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;padding:2px 0px 0px 2px;}
.lz_chat_human{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;padding:2px 0px 0px 2px;}
.lz_chat_accept{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;padding:2px 0px 0px 2px;}
.lz_chat_decline{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;padding:2px 0px 0px 2px;}